<div style="padding: 24px;">
    <div style="font-size: 1.5em">User Creation</div>

    <div style="display: flex; flex-direction: column; max-width: 200px;">
        <mat-form-field>
            <input matInput type="text" placeholder="First Name">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Last Name">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Email">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Favorite Color">
        </mat-form-field>

        <div>Creation Date: {{todaysDate}}</div>

        <button mat-raised-button color="primary" style="margin-top: 16px;">Save</button>
    </div>
</div>