<!-- <div>{{title}}</div>

<div [ngClass]="{'blue': title.length > 4}">{{todaysDate | date: 'fullDate' | uppercase}}</div>

<img [src]="imgUrl" alt=""> -->

<!-- <div style="display: flex; flex-direction: column; max-width: 200px; padding: 16px;">
    <mat-form-field>
        <input matInput placeholder="first name" type="text" name="firstName" [(ngModel)]="firstName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="last name" type="text" [formControl]="lastName">
    </mat-form-field>

    <section>
        <mat-checkbox name="isCool" [(ngModel)]="isCool">Cool</mat-checkbox>
    </section>

    <button mat-raised-button (click)="seeValues()">See Values</button>
</div> -->


